<h1>{{title}}</h1>

<form name="noteForm" novalidate>
    <div>
        <div class="col-md-6 form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title" required ng-model="note.title">
        </div>
        <div class="col-md-6 form-group">
            <label>Author</label>
            <input type="text" class="form-control" placeholder="Author" name="author" required ng-model="note.author">
        </div>
        <div class="col-md-12 form-group">
            <label>Content</label>
            <textarea class="form-control" rows="4" name="content" required ng-model="note.content"></textarea>
        </div>
        <div class="col-md-12 form-group">
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="noteForm.$invalid" ng-click="createNote()" >Create Note</button>
                <button class="btn btn-default" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Author</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="note in notes">
            <td>{{note.created_at | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{note.author}}</td>
            <td>{{note.title}}</td>
            <td>{{note.content}}</td>
        </tr>
    </tbody>
</table>