<!DOCTYPE html>
<html ng-app="RailsAngularApp">
<head>
  <title>RailsAngularExampleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <a class="navbar-brand" href="/">Rails - AngularJS</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" ui-sref="stateMainIndex">Home Page</a></li>
          <li><a href="/about" ui-sref="stateMainAbout">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid" ui-view>
  </div>
</body>
</html>
